<a href="https://colab.research.google.com/github/artemmiyy/psu_quants/blob/main/Risk(4_6_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

In [ ]:
from pandas_datareader import data as pdr
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib as plt
yf.pdr_override()

In [ ]:
tickers = ['PG', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
  sec_data[t] = pdr.get_data_yahoo(t, start = '2007-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
sec_data.tail()

                    PG        AAPL
Date
2023-03-31  148.690002  164.899994
2023-04-03  149.509995  166.169998
2023-04-04  150.229996  165.630005
2023-04-05  151.259995  163.759995
2023-04-06  152.220001  164.660004

In [ ]:
sec_returns = (sec_data / sec_data.shift(1)) - 1

Let's check which one is more volatile

In [ ]:
sec_returns

                  PG      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007592  0.022196
2007-01-05 -0.008587 -0.007122
2007-01-08  0.002205  0.004939
2007-01-09 -0.002514  0.083070
...              ...       ...
2023-03-31  0.008410  0.015644
2023-04-03  0.005515  0.007702
2023-04-04  0.004816 -0.003250
2023-04-05  0.006856 -0.011290
2023-04-06  0.006347  0.005496

[4094 rows x 2 columns]

For PG

In [ ]:
# daily average return
sec_returns['PG'].mean()

0.00039452527047951434

In [ ]:
# average annual return (mean)
sec_returns['PG'].mean() * 252

0.09942036816083762

In [ ]:
# calculates standard deviation
sec_returns['PG'].std()

0.011832284207292414

In [ ]:
# annualizing standard deviation
# This will equal the product of the square root of the variance (which is obtained by the .std() method), and the square root of the number of 250 (written as 250**0.5 in our code).
sec_returns['PG'].std() * 252 ** 0.5

0.18783168872599654

For AAPL

In [ ]:
sec_returns['AAPL'].mean()

0.0012255643649470523

In [ ]:
sec_returns['AAPL'].mean() * 252

0.30884221996665717

In [ ]:
sec_returns['AAPL'].std()

0.020301936435359796

In [ ]:
sec_returns['AAPL'].std() * 252 ** 0.5

0.322283249646019

Comparing the two

In [ ]:
print(sec_returns['PG'].mean() * 252)
print(sec_returns['AAPL'].mean() * 252)

0.09942036816083762
0.30884221996665717

In [ ]:
sec_returns[['PG', 'AAPL']].mean() * 252

PG      0.099420
AAPL    0.308842
dtype: float64

In [ ]:
# higher standard deviation means that the bell curve is more spread out
sec_returns[['PG', 'AAPL']].std() * 252 ** 0.5

PG      0.187832
AAPL    0.322283
dtype: float64

Covariance and Correlation

In [ ]:
AAPL_var = sec_returns['AAPL'].var()
AAPL_var

0.0004121686230253896

In [ ]:
PG_var = sec_returns['PG'].var()
PG_var

0.00014000294956214147

In [ ]:
# annualizing AAPL varaince

AAPL_var_ann = sec_returns['AAPL'].var() * 252
AAPL_var_ann

0.10386649300239818

In [ ]:
# annualizing PG varaince

PG_var_ann = sec_returns['PG'].var() * 252
PG_var_ann

0.035280743289659654

In [ ]:
cov_matrix = sec_returns.cov()
cov_matrix

            PG      AAPL
PG    0.000140  0.000088
AAPL  0.000088  0.000412

In [ ]:
# annualizing the covariance matrix

cov_matrix_ann = sec_returns.cov() * 252
cov_matrix_ann

            PG      AAPL
PG    0.035281  0.022211
AAPL  0.022211  0.103866

In [ ]:
# This is NOT the price correlation between the price of the two equitiies, this is correlation between returns
# This reflects the dependence between prices at different times and focuses on the returns of your portfolo
# Correlation of price focuses on stock price levels

# as an investor return is what we care about, not the nominal price of the stock
# We also dont need to annualize the correlation table because it doesn't contain average daily values, 
# it shows us the relation that exists between two variables

corr_matrix = sec_returns.corr()
corr_matrix

            PG      AAPL
PG    1.000000  0.366909
AAPL  0.366909  1.000000